<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <form action="">
        <label for="Fname">Fname</label><br>
        <input type="text" id="fname"><br>
        <label for="Lname">Lname</label><br>
        <input type="text" id="lname"><br>
         <label for="Email">Email</label><br>
        <input type="text" id="#Phone"> <br>
        <label for="Fname">#Phone</label><br>
        <input type="text" id="fname"><br>
        <label for="Gender">Gender</label><br>
        <input type="radio" name="gender" value="male"> Male<br>
        <input type="radio" name="gender" value="female"> Female<br>
        <select name="dep" id="dept">
            <option value="IT">IT</option>
            <option value="SALES">SALES</option>
        </select><br>
        <textarea name="" id="" cols="30" rows="10">
            @ViewBag.Message
        </textarea><br>
        <input type="submit" value="Submit">
       
    </form>
</body>
</html>