@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/CSS/homepage.css">
    <link href="../../wwwroot/css/homepage.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/wwwroot/assets/The loan providers.png">
    <script src="/wwwroot/js/code.js"></script>
    <title>The Loan Providers</title>
</head>
<body>
    <div id="container">
        <div id="wrapper">
            <div id="bar">
                <div id="logo">
                    <a href=""> <h3>TLP</h3></a>
                </div>
                <div id="buttensBar">
                    <div id="btnholder">
                        <a href=""><button>HOME</button></a>
                        <a href=""><button>ABOUT</button></a>
                        <a href=""><button>HELP</button></a>

                        <a href=""><button>LOGIN</button></a>
                    </div>
                </div>
            </div>
            <div id="banner">
                <h1>The Loan Providers <sup>&reg;</sup></h1>
                <h3>we provide the best loan programs for your businesses and help you to make them grow.</h3>
                <a href=""><button>OUR PLANS</button></a>
            </div>
        </div>

    </div>
    <div id="offices">
        <div id="textOffices">
            <h1>OUR OFFICES</h1>
        </div>
        <div id="ouroff">
            <div id="offholder">
                <img src="../assets/offices.jpg" alt="OFFICES">
            </div>
            <div id="offlocations">
                <div id="gujrat">
                    <div id="gujratlog"></div>
                    <div id="gujratinfo">
                        <h2>GUJRAT</h2>
                        <p>Power House Street NO #3 Shaheen Chonk Gujrat</p>
                        <br>
                        <h2>Ofiice Timing</h2>
                        <p>10:00AM - 05:00PM</p>
                    </div>
                </div>
                <div id="wazirabad">
                    <div id="wazirabadlog"></div>
                    <div id="wazirabadinfo">
                        <h2>WAZIRABAD</h2>
                        <p>Rashid center Allah Wala Chonk GT Road Wazirabad</p>
                        <br>
                        <h2>Ofiice Timing</h2>
                        <p>10:00AM - 05:00PM</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ourachivements">
        <div id="ourachivementsText">
            <div id="ourachivementsTextlft"></div>
            <div id="ourachivementsTextrgt">
                <h1>OUR</h1><br>
                <h2>ACHIVEMENTS</h2>
                <p>we have achived many off charms since 2020 we have opened many of thenew offices in <strong>GUJRAT</strong>and <strong>WAZIRABAD</strong>to help people in growing there businesses by providing them loans with greater plans and smaller installments. Our Dream is to provide our customers a good experince of leading there businesses.</p>

            </div>
        </div>
        <div id="ourachivementsLog">
            <img src="../assets/achivements.jpg" alt="achivements">
        </div>
    </div>
    <div id="donation">
        <div id="donateText">
            <h1>DONATE</h1>
            <h3>US</h3>
        </div>
        <div id="cardholder">




            <div id="card">
                <div id="visa">
                    <h1>VISA</h1>
                </div>
                <div id="wrapper">
                    <div id="barcode"></div>
                    <div id="userinfo">
                        <label for="">NAME</label>
                        <input type="text" placeholder="Name" id="name">
                    </div>
                    <div id="cardinfo">
                        <label for="">ID</label>
                        <input type="text" placeholder="#" id="id"><p>-</p>
                        <input type="text" placeholder="#" id="id"><p>-</p>
                        <input type="text" placeholder="#" id="id"><p>-</p>
                        <input type="text" placeholder="#" id="id">

                    </div>
                    <div id="expire">
                        <label for="">EXPIRY</label>
                        <input type="text" placeholder="MM" id="mm"><p>-</p>
                        <input type="text" placeholder="YYYY" id="mm">
                    </div>
                    <div id="Dbtn">
                        <button id="donate" onclick="dnt()">DONATE</button>
                    </div>
                </div>
            </div>




        </div>
    </div>

    <div id="plans">
        <div id="plan">
            <div id="planup">
                <h1>BASIC PLAN</h1>
            </div>
            <div id="planmid">
                <img src="../assets/workshop.jpg" alt="workshop_img">

            </div>
            <div id="planbtm">
                <p>we are providing our basic loan plan for those who wants to start an workshop of any kind. we are providng up to 1lack of laon for starting a local workshop.<br><br><strong>8.5k Installment each month</strong></p>
                <button id="apply">APPLY</button>
            </div>
        </div>
        <div id="plan">
            <div id="planup">
                <h1>INTERMEDIATE PLAN</h1>
            </div>
            <div id="planmid">
                <img src="../assets/office.jpg" alt="workshop_img">
            </div>
            <div id="planbtm">
                <p>we are providing our intermediate loan plan for those who wants to start a office of any kind we provide upto 2lakh for starting or growing a local business.<br><br><strong>16.5k Installment each month</strong></p>
                <button id="apply">APPLY</button>
            </div>
        </div>
        <div id="plan">
            <div id="planup">
                <h1>HIGHER PLAN</h1>
            </div>
            <div id="planmid">
                <img src="../assets/house.jpg" alt="workshop_img">
            </div>
            <div id="planbtm">
                <p>we are providing our Higher loan plan for those who wants to buy a house in pakistan. we are providng up to 10lack of laon and plots for bulding the house.<br><br><strong>83.5k Installment each month</strong></p>
                <button id="apply">APPLY</button>
            </div>
        </div>
    </div>
    <div id="beapart">
        <div id="beapartText">
            <div id="beapartTextlft"></div>
            <div id="beapartTextrgt">
                <h1>BE A PART</h1><br>
                <h2>OF US</h2>
                <button id="join">JOIN</button>

            </div>
        </div>
        <div id="beapartLog">
            <img src="../assets/beapart.jpg" id="bepart" alt="achivements">
        </div>

    </div>
    <div id="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3367.472941888534!2d74.11295915078902!3d32.433273408646855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391f19c7af2e0ea9%3A0x5f2065d0fe89d23f!2sALLAH%20WALA%20CHOCK%20WAZIRABAD!5e0!3m2!1sen!2s!4v1655968374661!5m2!1sen!2s" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div id="info">
        <div id="mypic">
            <img src="../assets/IMG_20210816_200447_804.webp" alt="">
        </div>
        <div id="mysite">
            <a href=""><h3>ENTERTAINER</h3></a>
            <a href=""><p>Qalb E Momin</p></a>
            <a href=""><p>Hassan Ashfaq</p></a>
        </div>
        <div id="contactme">
            <h3>Contact Us</h3>
            <p>0310-7949622</p>
            <p>hassan.ashfaq82</p>
        </div>
        <div id="add">
            <h3>Address</h3>
            <p>Rashid center Allah Wala Chonk GT Road Wazirabad</p>
            <h3>Project</h3>
            <p>a project of IQBAL HASSAN</p>
            <p>19101001-021</p>

        </div>
    </div>
</body>
</html>